*{

    background-color: rgb(215, 215, 215);
}



.nav-area{
    background-color: green;
    display: flex;
    justify-content: space-around;
    min-height: 10%;
}

.page-options{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 15%;
    height: none;
    flex-direction: row;
    text-align: center;
    
    background: none;
    
}

li{
    background: none;
    margin: 10%;
}

li a{
    background: none;
    border: 1px solid;
}


.content{
    display: flex;
    background-color: rgb(93, 82, 65);
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    min-width: 20%;
 

}


.c-area{
    background-color: red;
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.c-box{
    display: flex;
    flex-basis: 80%;
    background-color: rgb(225, 255, 0);
    flex-shrink: 2;
    height: 55%;
    border: 1px solid black;
    border-radius:  10px;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: black;
}

p{
    background: none;
    font-size: 20px;
}

h1{
    background: none;
}


@media all and (max-width: 500px ){
    .nav-area{
        color: aliceblue;
        background-color: black;
        border-radius: 10px;
        
    }

    *{
        background-color: rgb(148, 203, 203);
    }
    .content {
        background-image: linear-gradient(rgb(105, 47, 47),yellow);
    }
    .c-area{
        border-radius: 30px;
    }

}


